<!DOCTYPE html>
<html>

<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <main>
    <div class="messages-container">
      <% messages.forEach(function(message) { %>
      <div class="message">
        <div class="message-top">
          <p class="message-header"><%= message.user %> <span class="cursive-span">said...</span></p>
          <a href=<%= `/messages/${message.id}` %> target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>

        <p class="message-body"><%= message.text %></p>

        <p class="message-date"><%= message.added.toDateString() %></p>
      </div>

      <% }); %>
    </div>
    <a href="/new">
      <button class="add-button">
        <i class="fa-solid fa-comment-dots"></i>
      </button>
    </a>
  </main>

  <%- include('./partials/footer') %>

</body>

</html>