<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="icon" href="/images/icon.ico">
    <script src="https://kit.fontawesome.com/f5ed9082ee.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <h1 class="display header-title"><i class="fa-solid fa-comments"></i> <%= title %></h1>
      <p class="handwritten header-message">leave a message...</p>
    </header>
    <main>
      <div class="messages-container">
        <% messages.forEach(function(message) { %>
          <div class="message">
            <p class="message-header"><%= message.user %> <span class="cursive-span">said...</span></p>
            <p class="message-body"><%= message.text %></p>
            <p class="message-date"><%= message.added.toDateString() %></p>
          </div>
                
        <% }); %>
      </div>
      <a href="/new">
        <button class="add-button">
          <i class="fa-solid fa-comment-dots"></i>
        </button>
      </a>
    </main>
    <footer><a href="https://github.com/yuliana-r/mini-message-board" target="_blank">
      <i class="fab fa-github" aria-hidden="true"></i
    ></a>
    <p> yuliana-r</p></footer>
    
  </body>
</html>
